/*
|--------------------------------------------------------------------------
| Alignment
|--------------------------------------------------------------------------
|
| For Text-Align and other Justifications.
|
*/

// Text Aligns
.--center { text-align: center; }
.--left { text-align: left; }
.--right { text-align: right; }