/*
|--------------------------------------------------------------------------
| Flex Grid
|--------------------------------------------------------------------------
|
| For `.container-flex`.
|
*/

// Main Container
.container-flex {
	display: flex;
	flex-flow: column;
}

// Main Container for Extra-Small Screens
.container-flex-xs {
	@media (max-width: $screen-xs-max) {
		display: flex;
		flex-flow: column;
	}
}

// Rows within the Main Container
.flex-row,
.flex-row-xs {
	@include make-flex-row()
}

.flex-row-sm {
	@media (min-width: $screen-sm-min) {
		@include make-flex-row()
	}
}

.flex-row-md {
	@media (min-width: $screen-md-min) {
		@include make-flex-row()
	}
}

.flex-row-lg {
	@media (min-width: $screen-lg-min) {
		@include make-flex-row()
	}
}

// Add the flex-row and flex-col modifiers
@include make-flex-grid()