// The Number of Flex Modifiers
$flex-grid-columns: 12 !default;

// The Padding between Rows (Divided in Half for Top and Bottom).
$flex-grid-gutter-height: 12px !default;

// The Padding between Columns (Divided in Half for Left and Right).
$flex-grid-gutter-width: 30px !default;