/*
|--------------------------------------------------------------------------
| Flex Grid
|--------------------------------------------------------------------------
|
| For `.container-flex`.
|
*/
/**
 * Makes the calling Instance a Flex Row.
 */
@mixin make-flex-row() {
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;

	&:not(.--flush) {
		padding-top: $flex-grid-gutter-height / 2;
		padding-bottom: $flex-grid-gutter-height / 2;
	}
}

/**
 * Loops through each Column Number and defines a Flex Modifier for it.
 *
 * @param  string  $class  The Class Name of the Column (xs, sm, md, lg).
 * @param  int     $start  The Starting Flex Modifier (Default 1).
 * @param  string  $list   The List of CSS Selectors (Default ".flex-col-{$class}-{$i}").
 */
@mixin flex-grid-columns($class, $start: 1) {
	// Append each Column Index to the List
	@for $i from $start through $flex-grid-columns {
		// Apply the Flex Modifier
		.flex-col-#{$class}-#{$i} {
			flex: #{$i};

			padding-left: $flex-grid-gutter-width / 2;
			padding-right: $flex-grid-gutter-width / 2;
		}
	}
}

/**
 * Loops through each Row Number and defines a Flex Modifier for it.
 *
 * @param  string  $class  The Class Name of the Row (xs, sm, md, lg).
 * @param  int     $start  The Starting Flex Modifier (Default 1).
 * @param  string  $list   The List of CSS Selectors (Default ".flex-row-{$class}-{$i}").
 */
@mixin flex-grid-rows($class, $start: 1) {
	// Append each Row Index to the List
	@for $i from $start through $flex-grid-columns {
		// Apply the Flex Modifier
		.flex-row-#{$class}-#{$i} {
			flex: #{$i};

			padding-top: $flex-grid-gutter-height / 2;
			padding-bottom: $flex-grid-gutter-height / 2;
		}
	}
}

/**
 * Defines all of the Flex Columns.
 */
@mixin make-flex-grid() {
	@include flex-grid-columns(xs);
	@include flex-grid-rows(xs);

	@media (min-width: $screen-sm-min) {
		@include flex-grid-columns(sm);
		@include flex-grid-rows(sm);
	}

	@media (min-width: $screen-md-min) {
		@include flex-grid-columns(md);
		@include flex-grid-rows(md);
	}

	@media (min-width: $screen-lg-min) {
		@include flex-grid-columns(lg);
		@include flex-grid-rows(lg);
	}
}